.sign-in{
    float: right;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}
.netflix-name{

}

.tabContainer{
    color: #999;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 400px;
    padding-right: 400px;
    background-color: #252525 ;
    text-align: center;
}

.tabContainer p {
margin-top: 38px;
}

.lightContainer{
    height: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 400px;
    padding-right: 400px;
}

.netflixContainer{
    background-color: black;
    height: 1900px;
}

.pay{
    font-size: xxx-large;
    height: 110px;
    width: 900px;
    color: #fff;
    background-color: crimson;
    text-align: center;
}

.pay2{
    font-size: xx-large;
    height: 50px;
    width: 450px;
    color: #fff;
    background-color: crimson;
    text-align: center;
}

span{
    color:#fff;
}

.firstCom{
    text-align: center;
    height: 1000px;
}

.empty{
    height: 200px;
}

.message1{
    font-size: 100px ;
}

.message2{
    font-size : 45px;
}

.footer{
    color: #999;
    font-size: 20px;
    max-width: 60%;
    margin: 1rem auto;
    overflow: auto;
}

.footer-rows{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.footer ul li{
    list-style: none;
    font-size:18px;
}

.footer ul li a {
    text-decoration: none;
    color: inherit;
}

.tab1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    padding-left: 300px;
    padding-right: 300px;
}

.liner{
    height: 2px;
    background-color: white;
}

.tab1 p{
    font-size: 30px;
    color: #fff;
}

.tab1-1{
    display: grid;
}

.tabCol .tabContainer .menu1:hover,
.tabCol .tabContainer .menu2:hover,
.tabCol .tabContainer .menu3:hover {
    color: white;
}