.sign-in{
    float: right;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}
.netflix-name{

}


.netflixContainer{
    background-color: #252525;
    height: 2000px;
}

.pay{
    font-size: xxx-large;
    height: 110px;
    width: 900px;
    color: #fff;
    background-color: crimson;
    text-align: center;
}

span{
    color:#fff;
}

.firstCom{
    text-align: center;
    height: 1000px;
}

.empty{
    height: 200px;
}

.message1{
    font-size: 100px ;
}

.message2{
    font-size : 45px;
}

.footer{
    color: #999;
    font-size: 20px;
    max-width: 80%;
    margin: 1rem auto;
    overflow: auto;
}

.footer-rows{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.footer ul li{
    list-style: none;
    font-size:18px;
}

.footer ul li a {
    text-decoration: none;
    color: inherit;
}

